
<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @blog.content %>
</p>

<% if @blog.user_id == current_user.id %>
  <%= link_to 'Edit', edit_blog_path(@blog) %> |
  <%= link_to 'Back', blogs_path %>
<% else %>
  <% if @favorite %>
      <%= link_to 'お気に入りを解除する', favorite_path(id: @blog.id), method: :delete %>
    <% else %>
      <%= link_to 'お気に入り登録する', favorites_path(id: @blog.id), method: :post %>
  <% end %>
<% end %>
